
.navigation {
    width: 100%;
    text-align: center;
    background-color: #292e58;

}
.nav-bg-color {
    background-image: linear-gradient(to right,#21264c,#323868 )
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    background-color: #292e58;
}

.tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;    
}
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 80%;
    justify-self: center;
    background-color: aliceblue;
    height: 100vw;
}

.profile {
    width: 80%;
    text-align: center;
    flex-flow: row wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#packet-user-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 80%;
    justify-self: center;
}


#all-packets-map {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.packet-table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    width: 80%;
    justify-self: center;
    flex-wrap: wrap;
}

#map {
    display: flex;
    border: 1px solid black;
    width: 90%;
    justify-content: center;
}