
.navigation {
  width: 100%;
  text-align: center;
}

.profile {
    width: 80%;
    text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.packet-table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
}

#map {
    display: flex;
    border: 1px solid black;
    width: 90%;
    justify-content: center;
}