
.navigation {
  width: 100%;
  text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.profile {
    width: 80%;
    text-align: center;
    flex-flow: row wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



#all-packets-map {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.packet-table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    width: 80%;
    justify-self: center;
    flex-wrap: wrap;
}

#map {
    display: flex;
    border: 1px solid black;
    width: 90%;
    justify-content: center;
}